{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <style>
    .card.draggable {
        margin-bottom: 1rem;
        cursor: grab;
    }

    .droppable {
        background-color: var(--success);
        min-height: 50px;
        margin-bottom: 1rem;
    }
  </style>
  <script type="text/javascript">
    /* saveItem: Asynchronusly saves an update to the given item
        itemID - The ID number to be saved
      
      Returns: void
    */
    function saveItem(itemElementID) {
      itemID = itemElementID.substr(9);

      //Build a form data object to send to the server
      data = new FormData();
      data.append("item_id", itemID);
      data.append("lane", document.querySelector(`#${itemElementID}`).parentElement.id.substr(5));

      //Use the Fetch API to send the update asynchronusly
      fetch("/update_item", { method: "PUT", body: data })
      .then(response => response.text())
      .then(response => {
        //If text is returned an error occured on the server; display this as an alert
        if (response != '')
          alert('Error occured when saving change to item:\n' + response);
      });
    }

    /* deleteItem: Asynchronusly deletes the given item and removes it from the HTML document
        itemID - The ID number to be deleted
      
      Returns: void
    */
    function deleteItem(itemID) {
      //Build a form data object to send to the server
      data = new FormData();
      data.append("item_id", itemID);

      //Use the Fetch API to send the delete asynchronusly
      fetch("/delete_item", { method: "DELETE", body: data })
      .then(response => response.text())
      .then(response => {
        //If text is returned an error occured on the server; display this as an alert
        if (response != '')
          alert('Error occured when deleting item, please refresh your page:\n' + response);
      });
      
      //Use jQuery to delete the item group div
      $('#itemCard_' + itemID).remove();
      updateDropzones();
    }

    /*
    Draggable functionality adapted from Codeply example
    See: https://www.codeply.com/go/kJuy0MV7sk/bootstrap-4-kanban-layout
    */
    var drag = function(event) {
      event.dataTransfer.setData("text/plain", event.target.id);
    }

    var allowDrop = function(ev) {
      ev.preventDefault();
      if (hasClass(ev.target,"dropzone")) {
        addClass(ev.target,"droppable");
      }
    }

    var clearDrop = function(ev) {
        removeClass(ev.target,"droppable");
    }

    var drop = function(event){
      event.preventDefault();
      var data = event.dataTransfer.getData("text/plain");
      var element = document.querySelector(`#${data}`);
      try {
        //Delete the spacer in dropzone
        event.target.removeChild(event.target.firstChild);
        //Add the draggable content
        event.target.appendChild(element);
        //Remove the dropzone parent
        unwrap(event.target);
      } catch (error) {
        console.warn("can't move the item to the same place")
      }

      saveItem(data);
      updateDropzones();
    }

    var updateDropzones = function(){
        /* after dropping, refresh the drop target areas
          so there is a dropzone after each item
          using jQuery here for simplicity */
        
        var dz = $('<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>');
        
        // delete old dropzones
        $('.dropzone').remove();

        // insert new dropdzone after each item   
        dz.insertAfter('.card.draggable');
        
        // insert new dropzone in any empty swimlanes
        $(".items:not(:has(.card.draggable))").append(dz);
    };

    //Helper functions for Draggable feature
    function hasClass(target, className) {
        return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
    }
    function addClass(ele,cls) {
      if (!hasClass(ele,cls)) ele.className += " " + cls;
    }
    function removeClass(ele,cls) {
      if (hasClass(ele,cls)) {
        var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
        ele.className=ele.className.replace(reg, ' ');
      }
    }
    function unwrap(node) {
        node.replaceWith(...node.childNodes);
    }

  </script>

  <!--
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  -->

  <div class="row">

    <!-- To-do Lane -->
    <div class="column col-md-4">
      <h2>To-do</h2>
      <div class="card bg-light">
        <div class="card-body">
          <div class="items border border-light" id="lane_todo">
            {% for item in view_model.to_do_items %}
            <div class="card draggable shadow-sm" id="itemCard_{{item.id}}" draggable="true" ondragstart="drag(event)">
              <div class="card-body p-2">
                <div class="card-title">
                  {{item.title}}
                  <!-- Include a x button for each to-do item, when clicked call the deleteItem javascript method -->
                  <button type="button" class="close" aria-label="Close" onclick="deleteItem('{{item.id}}')"><span aria-hidden="true">&times;</span></button>
                </div>
                <!-- Item description would go here -->
              </div>
            </div>
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endfor %}
            
            <!-- If there are no items in this lane we still need a drop zone -->
            {% if view_model.to_do_items.__len__() == 0 %}
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endif %}
          </div>

          <!-- Static card allowing the adding of new items -->
          <form action="/add_item" method="POST">
            <div class="card shadow-sm">
              <div class="card-body p-2">
                <div class="card-title">
                  <div class="row">
                    <div class="column col-md-9">
                      <input type="text" class="form-control" name="new_title" id="new_title" placeholder="New item" />
                    </div>
                    <div class="column">
                      <button type="submit" class="btn btn-primary mx-sm-2">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
   
    <!-- Doing Lane -->
    <div class="column form col-md-4">
      <h2>Doing</h2>
      <div class="card bg-light">
        <div class="card-body">
          <div class="items border border-light" id="lane_doing">
            {% for item in view_model.doing_items %}
            <div class="card draggable shadow-sm" id="itemCard_{{item.id}}" draggable="true" ondragstart="drag(event)">
              <div class="card-body p-2">
                <div class="card-title">
                  {{item.title}}
                  <!-- Include a x button for each to-do item, when clicked call the deleteItem javascript method -->
                  <button type="button" class="close" aria-label="Close" onclick="deleteItem('{{item.id}}')"><span aria-hidden="true">&times;</span></button>
                </div>
                <!-- Item description would go here -->
              </div>
            </div>
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endfor %}
            
            <!-- If there are no items in this lane we still need a drop zone -->
            {% if view_model.doing_items.__len__() == 0 %}
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Done Lane -->
    <div class="column form col-md-4">
      <h2>Done</h2>
      <div class="card bg-light">
        <div class="card-body">
          <div class="items border border-light" id="lane_done">
            {% for item in view_model.done_items %}
            <div class="card draggable shadow-sm" id="itemCard_{{item.id}}" draggable="true" ondragstart="drag(event)">
              <div class="card-body p-2">
                <div class="card-title">
                  {{item.title}}
                  <!-- Include a x button for each to-do item, when clicked call the deleteItem javascript method -->
                  <button type="button" class="close" aria-label="Close" onclick="deleteItem('{{item.id}}')"><span aria-hidden="true">&times;</span></button>
                </div>
                <!-- Item description would go here -->
              </div>
            </div>
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endfor %}

            <!-- If there are no items in this lane we still need a drop zone -->
            {% if view_model.done_items.__len__() == 0 %}
            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}