# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV={{ flask_environment }}

# Change the following values for local development.
SECRET_KEY={{ secret_key }}
MONGO_CONN_STRING={{ mongo_conn_string }}
MONGO_DATABASE={{ mongo_database }}
MONGO_COLLECTION={{ mongo_collection }}